*{
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
    background-color: skyblue;
    height: 70px;
    width: 100%;
    z-index: 1;
}

.logo{
    font-size: 25px;
    position: relative;
    left: 5%;
    font-weight: bold;
    color: white;
    line-height: 70px;
}

ul{
    position:relative;
    float: right;
    margin-right: 20px;
}
 
ul li{

    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
 padding:20px;
}

button{
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin-left: 15px;
    margin-right: 30px;
}

button:hover{
    background: #003333;
    color: #fff;
}

.main_img{
    margin-top: 70px;
    width: 100%;
    height: 500px;
}

.img_text{
    position: absolute;
    top: 13%;
    left: 22%;
    color:black;
    /* background-color: #377019; */
    padding-right: 30px;
    padding-left: 30px;
    font-size: 73px;

}

.welcome_img{
    width: 98%;
    height: 271px;
}

.container{
    padding-top: 70px;
    display:flex;
    flex-direction:column;
}
.col-md-4{
    padding:25px;
    /* width:50%; */
}
.col-md-8{
    padding :25px;
    width:98%;
}
.row{
    display:inline-flex;
    justify-content:space-evenly;
    
} 

.col-md-8 p{
font-size: 18px;
}
.col-md-8  h1{
    padding-bottom:10px;
}
.row2{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content: space-evenly; */
}
.ourTeachers{
    padding:30px 0px ;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.teacher{
   
   
    /* padding: 14px 67px; */
    max-width: 293px;
   
  

}
.teacher img{
    width:100%;
    height:200px;
}
.teacher p{
    padding-top:15px;
}

.row3{
    display: flex;
    padding-top:55px;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:wrap;
}
.inputText{
width: 40%;
margin-top:10px;
height:25px;
border-radius:25px;
text-align: left;
padding:8px;
border: 2px solid black;
}
 
.labelText{
    display: inline-block;
    width: 100px;
    text-align:right;
    padding:10px;
    font-size: 22px;
}
.addmissionForm{
    padding:70px;
    font-family:Arial, Helvetica, sans-serif;
    font-size : 30px;
}
.inputTextMessage{
    width: 40%;
    margin-top: 10px;
height:86px;
border-radius:25px;
text-align: left;
padding:8px;
border: 2px solid black;

}
.applyfor{
    position:relative;
    left:4%;
    width:15%;
    
    border-radius:10px;
}

.log {
    
    display: flex;
    align-items: center;/* Center the content vertically */
  }
  
  .img {
    padding-top: 50px;
    padding-left: 100px;
  }

.foot{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 50px;
    color:white;
    padding-bottom:20px;
}

.conpara{
   
    margin-top:15px;
    font-size: 18px;
}

.conpara1{
   
    margin-top:15px;
    font-size: 18px;
}
.conpara2{
   
    margin-top:15px;
    font-size: 18px;
}

.foot p{
    margin: 4px;
    
}

.foot1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 50px;
    color:white;
    padding-bottom:20px;
}

.foot1 p{
    margin: 4px;
}

.conpara3{
   
    margin-top:4px;
    font-size: 18px;
}
.center{
    margin:16px;
    width:80%;
    
}

.conpara4{
   
    margin-top:4px;
    font-size: 18px;
}
.conpara5{
   
    margin-top:4px;
    font-size: 18px;
}

.Footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(16,36,68);
    height: 50px;
    /* margin-left: 5%;
    width:90%; */
} 

/* Style all font awesome icons */
.fa {
    padding: 5px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    
    
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    /* background: #3B5998; */
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    
    color: white;
  }

    .fa-instagram {
        
        color: white;
      }
